<div class="container">
  
  <form id="search-form" method="GET" action="/search">
    <input
      type="text"
      id="search-keywords"
      name="keywords"
      placeholder="Keywords"
    />
    <input
      type="text"
      id="search-location"
      name="location"
      placeholder="Location"
    />
    <button type="submit" class="btn btn-primary" id="search-button">Search</button>
  </form>


{{#each jobListings as |jobListing|}}
  <div class="job-listing-container">
    <!-- container class for styling -->
    <div class="row mb-4 job-listing">
      <div class="col-md-12">

        <h2 class="job-title">
          <a
            href="/joblistings/{{jobListing.job_id}}"
            class="job-title-link"
          >{{jobListing.title}}</a>
        </h2>

        <div class="job-info">
          <span class="job-contractor">Contractor:
            {{jobListing.contractor.company_name}}</span>
          <span class="job-location">Location: {{jobListing.location}}</span>
          <span class="job-skills">Skills Required:
            {{jobListing.skills_required}}</span>
          <span class="job-budget">Budget: ${{jobListing.budget}}</span>
          <span class="job-post-date">Posted on:
            {{format_date jobListing.post_date}}</span>
        </div>

        <p class="job-description">
          {{jobListing.description}}
        </p>

      </div>
    </div>
  </div>
{{/each}}
</div>
<script src="/js/logout.js"></script>
